 <form role="form" ng-submit="registro()">
        <div class="form-group">
            <label for="name">NameComplete:</label> <input type="text"
                                                           class="form-control" id="name" name="namecom" ng-model="credentials.namecom"/>
        </div>
         <div class="form-group">
             <label for="e-mail">E-mail:</label> <input type="text"
                                                            class="form-control" id="e-mail" name="email" ng-model="credentials.email"/>
         </div>
        <div class="form-group">
            <label for="password">Password:</label> <input type="password"
                                                           class="form-control" id="password" name="password" ng-model="credentials.password"/>
        </div>
         <div class="form-group">
             <label for="confirmPassword">Confirm Password:</label> <input type="password"
                                                            class="form-control" id="confirmPassword" name="confirmpassword" ng-model="credentials.confirmpassword"/>
         </div>
        <button class="btn bnt-default" ng-click="updateFactory(credentials.namecom, credentials.email, credentials.password)">AgregarUsuario</button>
 </form>
 <div ng-controller="registroCtrl">
     <table class="table table-striped table-hover">
     <tbody>
     <tr ng-repeat="todo in usuarios">
         <td>{{todo.nombre}}</td>
         <td>{{todo.email}}</td>
     </tr>
     </tbody>
 </table></div>
